[example_slack_alert]
# Set up your alert parameters as usual
search = index=main | head 5
dispatch.earliest_time = -1h
dispatch.latest_time = now
counttype = number of events
cron_schedule = 0 * * * *
enableSched = 1
quantity = 0
relation = greater than

# Enable and configure the Slackbot alert
action.slackbot_alert = 1
action.slackbot_alert.slack_webhook = https://hooks.slack.com/services/xxx/xxx/xxx
action.slackbot_alert.slack_message = $job.resultCount$ errors reported. Details: $resultsLink$