[example_slack_alert]
# Set up your alert parameters as usual
search = index=main | head 5
dispatch.earliest_time = -1h
dispatch.latest_time = now
counttype = number of events
cron_schedule = 0 * * * *
enableSched = 1
quantity = 0
relation = greater than

# Enable and configure the Slackbot alert
action.slackbot_alert = 1
action.slackbot_alert.api_key = xoxb-25215765711-1yF3WYuJUbOogQRe7zrBDafe
action.slackbot_alert.slack_channel = #admins
action.slackbot_alert.slack_bot_name = server_error_bot
action.slackbot_alert.slack_preamble = The following server error occurred: